<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Hello vue.js</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

<div id="app">
    <h2>TODO List</h2>
    <!-- submit イベントによってページがリロードされません -->
    <form v-on:submit.prevent>
        <!-- 双方向データバインディング　v-model -->
        <input type="text" v-model="newItem">
        <button v-on:click="addItem">add</button>
    </form>
    <ul>
        <!-- バリューとキー indexを取得 -->
        <li v-for="(todo, index) in todos">
            <!-- 双方向データバインディング -->
            <input type="checkbox" v-model="todo.isDone">
            <span v-bind:class="{ done: todo.isDone }">{{ todo.item }}</span>
            <button v-on:click="deleteItem(index)">Delete</button>
        </li>
    </ul>
    <pre>{{ $data }}</pre>
</div>

<!-- CDN -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<!-- vueファイル -->
<script src="js/main.js"></script>
</body>
</html>